{{ if and .Site.Params.adsense.enable (isset .Site.Params.adsense .slot) }}
<div class="adsense-unit my-4">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.adsense.client_id }}"
    crossorigin="anonymous"></script>
  <!-- {{ .name }} -->
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="{{ .Site.Params.adsense.client_id }}"
    data-ad-slot="{{ index .Site.Params.adsense .slot }}"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{{ end }}