{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{/* ======= Top slot ======= */}}
    {{ with .Site.Params.adsense }}
        {{ if and .enable .article_top_slot }}
        <div class="ad-container mb-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .client_id }}"></script>
            <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-client="{{ .client_id }}"
                data-ad-slot="{{ .article_top_slot }}"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        {{ end }}
    {{ end }}


    {{ .Content }}

    {{/* ======= Bottom slot ======= */}}
    {{ with .Site.Params.adsense }}
        {{ if and .enable .article_bottom_slot }}
        <div class="ad-container mt-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .client_id }}"></script>
            <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-client="{{ .client_id }}"
                data-ad-slot="{{ .article_bottom_slot }}"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        {{ end }}
    {{ end }}
</article>

{{ end }}
