{{ define "main" }}



<header>
    <h1 class="site-title">
        {{- with .Site.Params.favicon -}}
        <span class="site-icon" aria-hidden="true">
            <img src="{{ . }}" alt="">
        </span>
        {{- end -}}
        <span class="site-name">{{ $.Site.Title }}</span>
    </h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>


{{ .Content }}


{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}

{{ partial "randomarticle.html" (dict 
  "posts" $.Site.RegularPages
  "button_text" ($.Site.Params.random_button_text | default "随机阅读") 
)}}




{{ end }}
